/* General Styles */
body {
    background: linear-gradient(to right, #0b19e0, #3e84be);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #7a1818;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #0c9656;
    color: white;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Main Container */
.main-container {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Profile Section */
.profile-section, .contact-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Contact Section */
.email-section {
    margin-top: 20px;
}

.email-section input[type="email"] {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* About Section */
.about-section, .projects-section, .skills-section {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.about-section h2, .projects-section h2, .skills-section h2 {
    text-align: center;
}

.about-section p, .projects-section ul, .skills-section ul {
    text-align: left;
    margin-top: 20px;
    line-height: 1.6;
    list-style: none;
    padding: 0;
}

.projects-section ul li, .skills-section ul li {
    margin: 10px 0;
}

.projects-section ul li a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.projects-section ul li a:hover {
    text-decoration: underline;
}

/* Skills Section */
.skills-section {
    border: 2px solid #28a745;
    width: 60%;
    margin: 20px auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skills-section:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.skills-section ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Button Styles */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #eb22eb;
    color: white;
    position: fixed;
    width: 20%;
    bottom: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .skills-section, .about-section, .projects-section {
        width: 80%;
    }
    }

